<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head('投稿一覧')"></head>
<body>
	<div th:replace="layout::header"></div>
	<div class="container">
		<div th:replace="layout::jumbotron"></div>
		<div class="h1 my-4">投稿一覧</div>
		<div th:replace="layout::msg"></div>
		<form th:action="@{/browseSort}" method="post">
			<div th:replace="layout::sort"></div>
			<p><button class="btn btn-success shadow mt-2" type="submit" name="sortBtn" value="browse">並べ替え</button></p>
		</form>
		<div class="row row-eq-height">
			<div class="col-md-3 col-xs-6 placesPadding" th:inline="text" th:each="place: ${placeList}" th:object="${place}">
				<a class="detailLink" th:href="@{/postDetail(id=*{id},userId=${userId})}">
					<div class="detailLinkArea">
						<object><a class="userLink" th:href="@{/otherUserDetail(userId=*{userId})}">投稿者：[[*{name}]]様</a></object>
						<p>[[*{#calendars.format(postDate, 'yyyy年M月d日 k時m分s秒')}]]</p>
						<div th:if="*{pic == null}">
							<p>写真なし</p>
							<img class="thumbnail" th:src="@{/pic/noImg.jpg}" th:alt="画像なし">
						</div>
						<div th:if="*{pic != null}">
							<p><br></p>
							<img class="thumbnail" th:src="@{/__*{pic}__}" th:alt="投稿された画像">
						</div>
						<p class="textShort">[[*{text}]]</p>
						<p>高評価数：[[*{good}]]</p>
					</div>
				</a>
				<br>
			</div>
		</div>
		<a th:href="@{/top}"><input class="btn btn-success shadow my-4" type="button" value="戻る"></a>
	</div>
	<div th:replace="layout::footer"></div>
</body>
</html>