<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head('投稿一覧')"></head>
<body>
	<div th:replace="layout::header"></div>
	<div class="container">
		<div th:replace="layout::jumbotron"></div>
		<div th:if="${goodList != null}">
			<div class="h1 my-4">[[${goodList}]]</div>
		</div>
		<div th:if="${goodList == null}">
			<div class="h1 my-4">投稿一覧([[${sortResult}]])</div>
		</div>
		<div th:replace="layout::msg"></div>
		<div class="row row-eq-height">
			<div class="col-md-4">
				<form th:action="@{/browseSort}" method="post">
					<div class="h4">並べ替え</div>
					<select name="sort">
						<option value="new">新しい順</option>
						<option value="old">古い順</option>
						<option value="good">評価の多い順</option>
						<option value="bad">評価の少ない順</option>
					</select>
					<p><button class="btn btn-warning shadow my-4" type="submit" name="sortBtn" value="browse">並べ替え</button></p>
				</form>
			</div>
			<div class="col-md-4">
				<form th:action="@{/browseChoose}" method="post">
					<div class="h4">絞り込み</div>
					<p class="my-3">投稿者名で絞り込む：<input type="text" name="name" size="26" placeholder="投稿者名を入力してください"></p>
					<p>写真で絞り込む：</p>
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-outline-danger shadow py-2 changeRadioBtn">
							<input class="hideRadio" type="radio" name="pic" value="isPic">写真○
						</label>
						<label class="btn btn-outline-primary shadow mx-4 py-2 changeRadioBtn">
							<input class="hideRadio" type="radio" name="pic" value="noPic">写真×
						</label>
						<label class="btn btn-outline-secondary shadow active py-2 changeRadioBtn">
							<input class="hideRadio" type="radio" name="pic" value="bothPic" checked>無指定
						</label>
					</div>
					<br>
					<input class="btn btn-warning shadow my-4" type="submit" value="絞り込む">
				</form>
			</div>
			<div class="col-md-4">
				<form th:action="@{/goodPosts}" method="post">
					<p class="h4">高評価リスト</p>
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-outline-danger shadow mx-2 py-2 changeRadioBtn">
							<input class="hideRadio" type="radio" name="good" value="isGood">高評価済みを表示
						</label>
						<label class="btn btn-outline-secondary shadow active mx-2 py-2 changeRadioBtn">
							<input class="hideRadio" type="radio" name="good" value="bothGood" checked>全て表示
						</label>
					</div>
					<br>
					<input class="btn btn-warning shadow my-4" type="submit" value="リストを見る">
				</form>
			</div>
		</div>
		<div th:if="${noChoose != null}" class="text-center mb-3">[[${noChoose}]]</div>
		<div class="row row-eq-height">
			<div class="col-md-3 col-xs-6 placesPadding" th:inline="text" th:each="place: ${placeList}" th:object="${place}">
				<a class="detailLink" th:href="@{/postDetail(id=*{id},userId=${userId})}">
					<div class="py-2 detailLinkArea">
						<object><a class="userLink" th:href="@{/userDetail(userId=*{userId})}">投稿者：[[*{name}]]様</a></object>
						<p>[[*{#calendars.format(postDate, 'yyyy年M月d日 k時m分s秒')}]]</p>
						<div th:if="*{pic == null}">
							<p>写真なし</p>
							<img class="thumbnail" th:src="@{/pic/layout/noImg.jpg}" th:alt="画像なし">
						</div>
						<div th:if="*{pic != null}">
							<p><br></p>
							<img class="thumbnail" th:src="@{/__*{pic}__}" th:alt="投稿された画像">
						</div>
						<th:block th:if=*{text}>
							<th:block th:each="oneLineText, textZone : *{text.split('\r\n|\r|\n', -1)}">
								<div th:if="${textZone.first}">
									<div class="textShort"><th:block>[[${oneLineText}]]</th:block></div>
								</div>
								<div th:if="${!textZone.first}" class="d-none"></div>
							</th:block>
						</th:block>
						<p>高評価数：[[*{good}]]</p>
					</div>
				</a>
				<br>
			</div>
		</div>
		<a th:href="@{/top}"><input class="btn btn-success shadow my-4" type="button" value="戻る"></a>
	</div>
	<div th:replace="layout::footer"></div>
</body>
</html>