<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!--/* head */-->
	<head th:fragment="head(title)">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
		<link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{css/original/common.css}">
		<script type="text/javascript" th:src="@{webjars/jquery/1.12.4/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{js/original/common.js}"></script>
		
		<title th:text="${title} + ' | 無名所'"></title>
	</head>
	<!--/* ヘッダー */-->
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-info">
			<a class="navbar-brand text-light" th:href="@{/top}">無名所</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarList">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarList">
				<ul class="navbar-nav">
					<li class="nav-item px-3"><a class="nav-link text-light" th:href="@{/browse}">投稿を見る</a></li>
					<li class="nav-item px-3"><a class="nav-link text-light" th:href="@{/post}">投稿する</a></li>
					<li class="nav-item px-3"><a class="nav-link text-light" th:href="@{/userDetail}">ユーザー情報</a></li>
					<li class="nav-item px-3"><a class="nav-link text-light" th:href="@{/logout}">ログアウト</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<!--/* ジャンボトロン */-->
	<div th:fragment="jumbotron">
		<a class="detailLink" th:href="@{/top}">
			<div class="jumbotron">
				<div class="display-4">無名所</div>
			</div>
		</a>
	</div>
	<!--/* メッセージ */-->
	<div th:fragment="msg">
		<div th:if="${msg}">
			<div class="alert alert-danger alert-dismissible w-100 text-center rounded-0 fade show">
				<div th:text="${msg}"></div>
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
		</div>
	</div>
	<!--/* 新規登録、変更 */-->
	<div th:fragment="createOrUpdate">
		<div class="row">
			<div class="col-md-6 col-xs-12 text-left">ユーザー名</div>
			<div class="col-md-6 col-xs-12 text-right"><input type="text" name="name" placeholder="ユーザー名" autofocus></div>
			<div class="col-md-6 col-xs-12 text-left">パスワード</div>
			<div class="col-md-6 col-xs-12 text-right"><input type="password" name="pass1" placeholder="パスワード"></div>
			<div class="col-md-6 col-xs-12 text-left">パスワード(確認)</div>
			<div class="col-md-6 col-xs-12 text-right"><input type="password" name="pass2" placeholder="パスワード(確認)"></div>
		</div>
	</div>
	<!--/* 並べ替え */-->
	<div th:fragment="sort">
		<select name="sort">
			<option value="old">古い順</option>
			<option value="new">新しい順</option>
			<option value="good">評価の多い順</option>
			<option value="bad">評価の少ない順</option>
		</select>
	</div>
	<!--/* フッター */-->
	<footer th:fragment="footer">
		<div class="container-fluid">
			<div class="fixed-bottom bg-success">
				<div class="text-right">フッター</div>
			</div>
		</div>
	</footer>
</html>