<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head('ログイン')"></head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="h1 mt-5">ようこそ</div>
				<div class="alert alert-danger w-100" th:if="${msg}" th:text="${msg}"></div>
			</div>
			<div class="col-md-4 col-xs-1"></div>
			<div class="col-md-4 col-xs-10">
				<form th:action="@{/login}" method="post">
					<div class="row">
						<div class="col-md-6 col-xs-12 text-left">ユーザー名</div>
						<div class="col-md-6 col-xs-12 text-right"><input type="text" name="name" placeholder="ユーザー名" autofocus></div>
						<div class="col-md-6 col-xs-12 text-left">パスワード</div>
						<div class="col-md-6 col-xs-12 text-right"><input type="password" name="password" placeholder="パスワード"></div>
					</div>
					<input class="btn btn-primary shadow my-4" type="submit" value="ログイン">
				</form>
				<a th:href="@{/userCreate}"><input class="btn btn-success shadow" type="button" value="新規登録"></a>
			</div>
			<div class="col-md-4 col-xs-1"></div>
		</div>
	</div>
</body>
</html>