<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head('投稿一覧')"></head>
</head>
<body>
	<div th:replace="layout::header"></div>
	<div class="container">
		<div class="h1 mt-4">投稿の詳細</div>
		<div class="alert alert-danger w-100" th:if="${msg}" th:text="${msg}"></div>
		<div th:inline="text" th:each="place: ${placeDetail}" th:object="${place}">
			<a class="userLink" th:href="@{/otherUserDetail(name=*{name})}">投稿者：[[*{name}]]様</a>
			<p>[[*{#calendars.format(postDate, 'yyyy年M月d日 k時m分s秒')}]]</p>
			<div th:if="*{pic == null}">
				<p>写真なし</p>
				<img class="detailPic" th:src="@{/pic/noImg.jpg}" th:alt="画像なし">
			</div>
			<div th:if="*{pic != null}">
				<p><br></p>
				<img class="detailPic" th:src="@{/__*{pic}__}" th:alt="投稿された画像">
			</div>
			<p>[[*{text}]]</p>
			<p>高評価数：[[*{good}]]</p>
			<div th:if="${myPost == null}">
				<div th:if="${noGood == null}">
					<button class="btn btn-secondary">高評価済み</button>
				</div>
				<div th:if="${noGood != null}">
					<object>
						<a th:href="@{/good(id=*{id},name=${name})}"><input class="btn btn-warning shadow" type="button" value="高評価する"></a>
					</object>
				</div>
			</div>
			<div th:if="${myPost != null}">
				<button class="btn btn-info">あなたの投稿です</button>
			</div>
		</div>
		<div th:inline="text" th:each="user: ${goodUsers}" th:object="${user}">
			<p>[[*{name}]]様が高評価しました。([[*{#calendars.format(goodDate, 'yyyy年M月d日 k時m分s秒')}]])</p>
		</div>
		<a th:href="@{/top}"><input class="btn btn-success shadow my-4" type="button" value="戻る"></a>
	</div>
	<div th:replace="layout::footer"></div>
</body>
</html>