<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head('投稿一覧')"></head>
<body>
	<div th:replace="layout::header"></div>
	<div class="container">
		<div th:replace="layout::jumbotron"></div>
		<div class="h1 mt-4">投稿の詳細</div>
		<div th:replace="layout::msg"></div>
		<div th:inline="text" th:each="place: ${postDetail}" th:object="${place}">
			<a class="userLink" th:href="@{/userDetail(userId=*{userId})}">投稿者：[[*{name}]]様</a>
			<p>[[*{#calendars.format(postDate, 'yyyy年M月d日 k時m分s秒')}]]</p>
			<div th:if="*{pic == null}">
				<p>写真なし</p>
				<img class="detailPic" th:src="@{/pic/layout/noImg.jpg}" th:alt="画像なし">
			</div>
			<div th:if="*{pic != null}">
				<p><br></p>
				<img class="detailPic" th:src="@{/__*{pic}__}" th:alt="投稿された画像">
			</div>
			<br>
			<th:block th:if=*{text}>
				<th:block th:each="oneLineText, textZone : *{text.split('\r\n|\r|\n', -1)}">
					<th:block>[[${oneLineText}]]</th:block>
					<br th:if="${!textZone.last}">
				</th:block>
			</th:block>
			<p class="my-3">高評価数：[[*{good}]]</p>
			<a th:href="@{#commentForm}"><input class="btn btn-light shadow mb-4" type="button" value="コメントを書く"></a>
			<div th:if="${myPost == null}">
				<div th:if="${noGood == null}">
					<button class="btn btn-secondary" disabled="disabled">高評価済み</button>
				</div>
				<div th:if="${noGood != null}">
					<form th:action="@{/good}" method="post">
						<input type="hidden" name="id" th:value="*{id}">
						<input type="hidden" name="name" th:value="${name}">
						<input type="hidden" name="userId" th:value="${userId}">
						<input class="btn btn-warning shadow" type="submit" value="高評価する">
					</form>
				</div>
			</div>
			<div th:if="${myPost != null}">
				<button class="btn btn-info" disabled="disabled">あなたの投稿です</button>
			</div>
			<div th:if="${userId == 1}">
				<a th:href="@{/postDelete(placeId=*{id})}"><input class="btn btn-danger shadow my-4" type="button" value="この投稿を削除する"></a>
			</div>
			<div th:inline="text" th:each="user: ${goodUsers}" th:object="${user}">
				<p>[[*{name}]]様が高評価しました。([[*{#calendars.format(goodDate, 'yyyy年M月d日 k時m分s秒')}]])</p>
			</div>
			<p class="mt-4">この投稿へのコメント</p>
			<div th:if="${noComment != null}">[[${noComment}]]</div>
			<div th:inline="text" th:each="comment: ${commentList}" th:object="${comment}">
				<p>投稿者：[[*{name}]]様</p>
				<p>投稿日時：[[*{#calendars.format(commentDate, 'yyyy年M月d日 k時m分s秒')}]]</p>
				<p>コメント：</p>
				<p>
					<th:block th:if=*{comment}>
						<th:block th:each="oneLineComment, commentZone : *{comment.split('\r\n|\r|\n', -1)}">
							<th:block>[[${oneLineComment}]]</th:block>
							<br th:if="${!commentZone.last}">
						</th:block>
					</th:block>
				</p>
				<p th:if="${userId == 1}">
					<a th:href="@{/commentDelete(commentId=*{id})}"><input class="btn btn-danger shadow" type="button" value="コメントを削除"></a>
				</p>
				<br>
			</div>
			<div id="commentForm"></div>
			<form th:action="@{/comment}" method="post">
				<textarea class="mt-5 postComment" name="comment" placeholder="この投稿へのコメント等お書きください"></textarea>
				<input type="hidden" name="placeId" th:value=*{id}>
				<br>
				<input class="btn btn-primary shadow my-2" type="submit" value="書き込む">
			</form>
		</div>
		<a th:href="@{/top}"><input class="btn btn-success shadow my-4" type="button" value="戻る"></a>
	</div>
	<div th:replace="layout::footer"></div>
</body>
</html>