<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head('退会')"></head>
<body>
	<div th:replace="layout::header"></div>
	<div class="container">
		<div class="h1 mt-5">本当に<span class="text-danger">退会</span>しますか？</div>
		<form th:action="@{/userDeleteAction}" method="post">
			<input class="btn btn-danger shadow mt-5" type="submit" value="退会する(戻せません！)">
		</form>
		<br>
		<a th:href="@{/userDetail(userId=${userId})}"><input class="btn btn-success shadow my-4" type="button" value="戻る"></a>
	</div>
	<div th:replace="layout::footer"></div>
</body>
</html>