<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head('新規登録')"></head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="h1 mt-5">新規登録</div>
				<div th:replace="layout::msg"></div>
			</div>
			<div class="col-md-4 col-xs-1"></div>
			<div class="col-md-4 col-xs-10">
				<form th:action="@{/userCreate}" method="post">
					<div th:replace="layout::createOrUpdate"></div>
					<input class="btn btn-primary shadow my-4" type="submit" value="登録">
				</form>
				<a th:href="@{/login}"><input class="btn btn-success shadow" type="button" value="戻る"></a>
			</div>
			<div class="col-md-4 col-xs-1"></div>
		</div>
	</div>
</body>
</html>